footer {
  text-align: center;
  padding: 6.2rem;
  margin-top: 6.2rem;
  background-color: black; }

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body-index {
  background-color: black; }
  .body-index main section .principal {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: "img-contenedor-uno img-contenedor-dos" "img-contenedor-tres img-contenedor-cuatro"; }
    .body-index main section .principal .img-contenedor-uno {
      grid-area: img-contenedor-uno;
      color: white;
      margin: 6.2rem;
      text-align: center; }
      .body-index main section .principal .img-contenedor-uno a img:hover {
        transform: scale(0.8); }
    .body-index main section .principal .img-contenedor-dos {
      grid-area: img-contenedor-dos;
      color: white;
      margin: 6.2rem;
      text-align: center; }
      .body-index main section .principal .img-contenedor-dos a img:hover {
        transform: scale(0.8); }
    .body-index main section .principal .img-contenedor-tres {
      grid-area: img-contenedor-tres;
      color: white;
      margin: 6.2rem;
      text-align: center; }
      .body-index main section .principal .img-contenedor-tres a img:hover {
        transform: scale(0.8); }
    .body-index main section .principal .img-contenedor-cuatro {
      grid-area: img-contenedor-cuatro;
      color: white;
      margin: 6.2rem;
      text-align: center; }
      .body-index main section .principal .img-contenedor-cuatro a img:hover {
        transform: scale(0.8); }

footer .meodedi {
  color: white;
  font-size: 2rem; }

main section .funciona {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: "bat-uno bat-dos" "bat-tres bat-cuatro"; }
  main section .funciona .bat-uno {
    grid-area: bat-uno;
    margin: 6.2rem;
    text-align: center; }
  main section .funciona .bat-dos {
    grid-area: bat-dos;
    margin: 6.2rem;
    text-align: center; }
  main section .funciona .bat-tres {
    grid-area: bat-tres;
    margin: 6.2rem;
    text-align: center;
    padding-top: 3.7rem; }
  main section .funciona .bat-cuatro {
    grid-area: bat-cuatro;
    margin: 6.2rem;
    text-align: center;
    padding-top: 1.2rem; }

main .tittle {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem; }

main .nosotros {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "p-uno foto-uno" "p-dos foto-dos" "p-tres foto-tres";
  margin: 6rem;
  gap: 2rem; }

main .foto-uno {
  display: grid;
  grid-area: foto-uno;
  margin-left: 16rem;
  margin-bottom: 2rem; }

main .foto-dos {
  display: grid;
  grid-area: foto-dos;
  margin-left: 16rem;
  margin-top: 2rem; }

main .foto-tres {
  display: grid;
  grid-area: foto-tres;
  margin-left: 16rem;
  margin-top: 2rem; }

main .p-uno {
  display: grid;
  grid-area: p-uno;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 2px solid black; }

main .p-dos {
  display: grid;
  grid-area: p-dos;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 2rem; }

main .p-tres {
  display: grid;
  grid-area: p-tres;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 2px solid black; }

main form {
  margin-left: 24rem;
  margin-top: 4rem; }

main .pepito {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem; }

main .contacto {
  display: flex;
  margin-top: 4rem;
  gap: 1.3rem;
  margin-left: 1rem; }

@media screen and (max-width: 860px) {
  .body-index main section .principal {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 860px) {
  main section .funciona {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 860px) {
  main .nosotros {
    display: flex;
    flex-direction: column; }
    main .nosotros .foto-uno {
      width: 150px; }
    main .nosotros .foto-dos {
      width: 150px; }
    main .nosotros .foto-tres {
      width: 150px; } }

@media screen and (max-width: 530px) {
  main .nosotros .foto-uno {
    margin-left: 0px; }
  main .nosotros .foto-dos {
    margin-left: 0px; }
  main .nosotros .foto-tres {
    margin-left: 0px; }
  footer {
    padding: 0px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: black; }
    footer .img-foot {
      width: 190px; } }

@media screen and (max-width: 400px) {
  main section .principal img {
    width: 200px;
    height: 200px; } }
