@import "utilidades/variables";
@import "utilidades/mixin";
/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "html/index"; 

footer{
   @include footer;
        .meodedi{
            color: $color-sec;
            font-size: 2rem;
        }
} 

