@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";
/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//index
@import "html/index"; 

footer{
   @extend %footer;
          .meodedi{
            color: $color-sec;
            font-size: 2rem;
        }
}  
//productos
@import "html/productos";

//nosotros
@import "html/nosotros";

//contacto 
@import "html/contacto"; 

//Mediaquery 

@import "utilidades/mediaquery";
