@import "../utilidades/mixin";

main{
    form{
        margin-left: 28rem;
        margin-top: 4rem;
    }
    .pepito{
        @include titulo;
    }
    .contacto{
        display: flex;   
        gap: 2rem;
        justify-content: flex-start;
        align-items: flex-end;
        
       
    }

   
} 


