@import "../utilidades/mixin";

main {
    section {
        .funciona {
            display: grid;
            grid-template-columns: 2fr 2fr;
            grid-template-rows: 2fr 2fr;
            grid-template-areas: "bat-uno bat-dos"
                                 "bat-tres bat-cuatro";

            .bat-uno {
                @include hijos(bat-uno);
                
            }

            .bat-dos {
                @include hijos(bat-dos);
                
            }

            .bat-tres {
                @include hijos(bat-tres);
                padding-top: 3.7rem;
            }

            .bat-cuatro {
                @include hijos(bat-cuatro);
                padding-top: 1.2rem;
            }
        }
    }
}

//puerto san julian 
//comandante piedra buena 
//gregores 