@import "mixin";


@media screen and (max-width: 860px) {
    .body-index {
        main {
            section {
                .principal {
                    display: flex;
                    flex-direction: column;
                }

            }
        }
    }
} 

@media screen and (max-width: 860px){
    main{
        section{

            .funciona{
                display: flex;
                flex-direction: column;
            }

        }
    }
}

@media screen and (max-width: 860px){
    main{
        .nosotros{
            display: flex;
            flex-direction: column;
            
            .foto-uno{
                width: 150px;
                
            }
            .foto-dos{
                width: 150px;
            }
            .foto-tres{
                width: 150px;
            }
            
        }
    }

    footer{
       img{
         
       }
    }
} 

@media screen and (max-width: 530px){
    main{
        .nosotros{
            .foto-uno{
                margin-left: 0px;
            } 
            .foto-dos{
                margin-left: 0px;
            }
            .foto-tres{
                margin-left: 0px;
            }

        }
    }
}
    