
@import "variables";

@mixin hijosgrid($grid-area){
    grid-area: $grid-area;
    color: $color-sec;
    padding: 6.2rem;
    margin: 6.2rem; 
    text-align: center;
} 

@mixin footer{
    text-align: center;
    padding: 6.2rem;
    margin-top: 6.2rem;
}